.formContainer {
  display: flex;
  // justify-content: center;
  // align-content: center;
  margin: 0 auto;
  // width: 100%;
  //
  .tomatoesForm {
    margin: 3% auto;
    border: 2px solid green;
    padding: 10%;
    border-radius: 10px;
    background-color: floralwhite;
    p {
      text-align: right;
    }
    #filled-number {
      width: 100%;
    }
    .submit {
      margin: 15% auto auto auto;
      text-align: right;
    }
  }
}

.formTitle {
  text-align: center;
  width: 30%;
  background-color: floralwhite;
  margin: 0 auto;
  padding: 1%;
  border: 2px solid green;
  border-radius: 20px;
  margin-top: 5%;
}
