.sign-in-form {
  text-align: center;
  width: 75%;
  background-color: floralwhite;
  margin: 3% auto;
  padding: 10%;
  border: 2px solid green;
  border-radius: 20px;
  h5 {
    // margin: 7% 0;
    font-weight: bold;
    font-size: 2rem;
  }
  form {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    align-self: center;

    label {
      h3 {
        margin: 0.5% 0;
      }
    }
    .account {
      text-align: right;
    }
  }
}
.loggedIn {
  text-align: center;
  width: 40%;
  background-color: floralwhite;
  margin: 0 auto;
  padding: 3%;
  border: 2px solid green;
  border-radius: 20px;
  margin-top: 5%;
}
