.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3% auto 0 auto;
  background-color: floralwhite;
  border: 2px solid blue;
  padding-top: 3%;
  width: 40%;
  border-radius: 10px;

  button {
    margin: 0.5% auto;
    width: 70%;
  }
}

.pause-and-plus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5% auto 0 auto;
  padding: 1%;
  background-color: floralwhite;
  border: 2px solid blue;
  width: 20%;
  border-radius: 10px;
}
