.w3-bar-item {
  background-color: blue;
}

.w3-sidebar {
  background-color: blue;
}
.w3-bar-block {
  background-color: blue;
}
.w3-black {
  background-color: blue;
}

.w3-xxlarge {
  background-color: blue;
}

.home:hover {
  background-color: floralwhite;
}
