.update {
  margin: 3% 3%;
  .list {
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    margin: 1% auto;
    border: 2px solid green;
    padding: 4%;
    background-color: floralwhite;
    border-radius: 20px;
    h1 {
      font-size: 7vh;
      margin: 3% auto;
      //   width: 80vw;
      //   padding-right: 2%;
      //   padding-left: 2%;
      // margin-left: 3%;
    }
    h2 {
      font-size: 4vh;
      //   margin: 0 auto;
      // width: 80vw;
      //   padding-right: 2%;
      //   padding-left: 2%;
      margin-left: 3%;
    }
    li {
      font-size: 2vh;
      margin-left: 4%;
      margin-right: 3%;
    }
    p {
      font-size: 1vh;
      margin: 3% auto;
      padding-right: 3%;
      padding-left: 3%;
    }
    .image {
      display: flex;
      margin: 0 auto;
      width: 80vw;
      // padding-right: 2%;
      // padding-left: 2%;
      border-radius: 15px;
    }
    .video {
      display: flex;
      // padding-right: 2%;
      // padding-left: 2%;
      margin: 3% auto;
    }
  }
}
//
