.sign-up-form {
  text-align: center;
  width: 65%;
  background-color: floralwhite;
  margin: 5% auto;
  padding: 3%;
  border: 2px solid green;
  border-radius: 20px;

  h5 {
    // margin: 7% 0;
    font-weight: bold;
    font-size: 3rem;
  }
  form {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    align-self: center;

    label {
      h3 {
        margin: 0.5% 0;
      }
    }
    Button {
      margin: 10%;
    }
    .account {
      text-align: right;
    }
  }
}
