.projects {
  //   margin: 2%;
  width: 100%;
}
// .exmapleButtons {
//   display: flex;
//   flex-direction: column;
// }
.loading {
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  // flex-direction: column;
}
.example {
  margin: 0 3% 0 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }
}
h1 {
  font-size: 1.8rem;
}
