.home {
  margin: 3% 3%;
  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1% auto;
    border: 2px solid green;
    background-color: floralwhite;
    border-radius: 20px;
    h1 {
      font-size: 6vh;
      margin: 3% auto;
      padding-right: 2%;
      padding-left: 2%;
    }
    p {
      font-size: 2vh;
      margin: 3% auto;
      padding-right: 2%;
      padding-left: 2%;
    }
    .image {
      display: flex;
      margin: 3% auto;
      padding-right: 2%;
      padding-left: 2%;
      border-radius: 30px;
    }
    .video {
      display: flex;
      // padding-right: 2%;
      // padding-left: 2%;
      margin: 3% auto;
    }
  }
}
//
